:root {
  --primary-color: #34c94b;
  --black-color: #121212;
  --white-color:#FFFFFF;
}

.navbar {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  align-items: center;
}
.search {
  border: 1px solid var(--black-color);
  padding: 0.7em;
  border-radius: 5px;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--white-color);
}
.searchInput {
  outline: none;
  border: none;
  width: 80%;
}
  .FeedbackBtn {
    background-color: var(--black-color);
    color: var(--primary-color);
    border-radius: 14px;
    padding: 10px 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    cursor: pointer;
  }

.heroContainer{
  background-color: var(--black-color);
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center; 
  gap: 2px;
}
.textContainer{
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: larger;
  color: var(--white-color);
}
.card{
  max-width: 200px;
  border-radius: 10px;
}
.followCard
{
  background-color: var(--white-color);
  display: flex;
  border-radius: 0px 0px 10px 10px;
  padding: 10px;
}
.Img{
  object-fit: contain;
  max-width: 200px;
  max-height: 300px;
  border-radius: 10px 10px 0px 0px;
}
.search{
  padding: 10px 0px 10px 0px;
}
.albumContainer{
  display: flex;
  justify-content:space-between ;
  padding: 0px 2%;
}
.topAlbums{
  color: var(--white-color);
}
.collapse{
  color: var(--primary-color);
  font-size: larger;
}
.section{
  padding: 0px 2%;
}
.title{
  color: var(--white-color);
  display: flex;
  justify-content: start;
  padding: 10px 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}